body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A;     transition: all .3s ease-in-out;
 }

.reset {
    color: #209781;     
}
.reset:hover {
    color: #E9B64A;
    transition: all .3s ease-in-out;
}
#options {
    background-color: #26282E;
    border: 3px solid #209781 ;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 4px;
    color: #209781;
}
#blogtex_b5 {
    color: rgb(12, 12, 12);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    float: left;
    width: 68%;
    background-color: #364343;
    height: auto;
    text-align: center;
    padding: 6% 6% 0% 6%;
}
#inspired {
    color: black;
    text-align: center;
    padding-bottom: 25px; 
    font-family: 'Lobster', sans-serif; 
    letter-spacing: 2px;
    
}
#gwent {
    font-family: 'Lobster', sans-serif;
    color: #209781;
    letter-spacing: 2px;
    font-size: 50px;
}
.ihr {
    height: 3px; 
    background: #209781 ;
    border: 1px #209781 solid ;
}
#blog {
    width: 79%;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: black;
    background-color: white;
    padding: 50px 0px; 
}
#blogtitle {
    width: 79%;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    padding: 40px 0px;
    color: black;
    background-color: white;
}
#blogmenu {
    color: black;
    float: left;
    text-align: center;
    width: 19%;
    background-color: whitesmoke;
    height: auto;
    text-align: center;
    border: 2px solid #000000;
    margin-right: auto;
}
#mainc {
    background-color: #364343;
    height: 620px;
}
.board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card {
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url(img/office.svg);
    border: 4px solid #51c8b2;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
}
.card:hover {
    border:  4px solid #E9B64A;
    filter: brightness(100%)
    
}
.score {
    color: #209781;
    margin-top: 50px;
    font-size: 30px;
    font-family:  'Lobster', sans-serif;
    letter-spacing: 2px;
}
h1{
    color: #209781;
    margin-top: 120px;
    font-size: 60px;
    font-family:  'Lobster', sans-serif;
    letter-spacing: 2px;
}
.cardA {
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url(img/office.svg);
    border:  4px solid #E9B64A;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}
a.linkb {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    padding: 20px;
    clear: both;
}
body {
    background-color: white;
    font-family: Verdana;
    font-size: 120%;
    color: white;
    margin: 0px;
}
#topbar {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;
    text-align: center;
    border-bottom: 6px solid #000000;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a.linkc {
    color: white;
    text-decoration: none;
}
.przerwa {
    height: 80px;
    clear: both;
    width: 100%;
}


