#pojemnik_b1 {
    width: 100%;
    text-align: center;
}
#plansza_b2 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
}
#szubienica_b3 {
    float: left;
    width: 39%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;

}
#alfabet_b4 {
    float: left;
    width: 49%;
    text-align: center;
    min-height: 60px;
    margin-left: 12%;
    margin-top: 4%;
    margin-right 1%;
    font-family: 'Inconsolata';
    font-weight: 700;

}
#blogtex_b5 {
    color: rgb(12, 12, 12);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    float: left;
    width: 67%;
    background-color: white;
    height: auto;
    text-align: center;
    padding: 6% 6% 0% 6%;
}
#blog {
    width: 79%;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: black;
    background-color: white;
    padding: 50px 0px; 
}
#blogtitle {
    width: 79%;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    padding: 40px 0px;
    color: black;
    background-color: white;
}
#blogmenu {
    color: black;
    float: left;
    text-align: center;
    width: 20%;
    background-color: whitesmoke;
    height: auto;
    text-align: center;
    border: 2px solid #000000;
    margin-right: auto;
}
a.linkb {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    padding: 20px;
    clear: both;
}
body {
    background-color: white;
    font-family: Verdana;
    font-size: 140%;
    color: white;
    margin: 0px;

}
#topbar {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;
    text-align: center;
    border-bottom: 6px solid #000000;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a.linkc {
    color: white;
    text-decoration: none;
}
.przerwa {
    height: 80px;
    clear: both;
    width: 100%;
}
.litera {
    width: 21px;
    height: 21px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}
.litera:hover {
    background-color: lightblue;
    color: black;
}